.navbar {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	background-color: #fff318;
	color: rgb(8, 8, 8);
	padding: 20px 250px;
	font-size: 20px;
	font-weight: 600;
}

@media (max-width: 500px) {
	.navbar {
		padding: 20px 50px;
	}
}

.logo,
.logo_span {
	color: rgb(0, 0, 0);
}
.nav_links{
	display: flex;
	justify-content: space-between;
}

